.nbaHeader {
  height: 80px;
  width: auto;
  background-color: black;
  color: orange;
  margin-top: 0;
}

.nba {
  font-size: 40pt;
  margin-left: 20px;
  margin-top: 0;
  padding-top: 5px;
}

.nbaGames {
  text-align: center;
  font-size: 30pt;
  margin-top: 10px;
  color: green;
  background-color: lightgray;
  margin-top: 0;
  height: 55px;
}

.todaysGames {
  display: inline-block;
  
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
